html, body {
    margin: 0;
    overflow: hidden;

    background-color: rgb(233, 233, 245);
    color: black;

    font-family: sans-serif;
}

body {
    --scale: 1;
    --pageHeight: 100vh;
    --pageWidth: 100vw;
}

p {
    margin: 0;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--pageHeight);
    width: var(--pageWidth);
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.world {
    width: 0;
    height: 0;
    position: absolute;
    width: 80vmin;
    height: 80vmin;

    display: flex;
    align-items: center;
    justify-content: center;
    container-type: size;
}

.world-bg {
    position: absolute;
    width: 90cqmin;
    height: 90cqmin;
    background-color: #fff;
    z-index: -2;
    border-radius: 50%;
    border: 0.5vmin solid rgb(196, 196, 219);
}

.planet {
    background-color: rgb(28, 28, 64);
    position: absolute;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.planet-score {
    color: white;
    font-size: 3vmin;
}

@each $fruit in (cherry, strawberry, grapes, dekopon, orange, apple, pear, peach, pineapple, cantaloupe, watermelon) {
    .#{$fruit} {
        transform: scale(200%);
        background-image: url("../img/#{$fruit}-normal.svg");

        .danger & {
            background-image: url("../img/#{$fruit}-danger.svg");
        }
    }
}

.fruit {
    background-size: contain;
    background-repeat: no-repeat;

    &.next {
        opacity: 0.5;
    }
}

.divider {
    position: absolute;
    z-index: -3;
    width: 300%;
}

.world-object {
    position: absolute;
    border-radius: 50%;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.game-over-popup {
    position: absolute;
    width: min(90vw, 60vh);
    height: 90vh;
    font-size: 3vmin;
    background-color: white;
    border: 0.5vmin solid rgb(196, 196, 219);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 3vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3vmin;
}

.score-table-container {
    width: 100%;
    flex: 1;
    overflow: scroll;
}

.score-table {
    width: 100%;
    text-align: center;
}

.score-table tbody tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

button {
    font-size: 3vmin;
    padding: 0.5em 1em;

    border: 0.5vmin solid black;
    border-radius: 1vmin;
    color: white;
}

.play-again-button {
    margin: 3vmin 0;
    border-color: rgb(187, 23, 56);
    background-color: rgb(233, 37, 77);
}

.select-players-ui {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select-players-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.select-players-button {
    margin: 1vmin;
    font-size: 7vmin;
    min-width: 100px;

    border-color: rgb(187, 23, 56);
    background-color: rgb(231, 128, 167);
    border-radius: 2vmin;
}