@use 'sass:color';

html, body {
    margin: 0;
    overflow: hidden;

    background-color: rgb(233, 233, 245);
    color: black;

    font-family: sans-serif;
}

body {
    --scale: 1;
    --pageHeight: 100vh;
    --pageWidth: 100vw;
}

p {
    margin: 0;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--pageHeight);
    width: var(--pageWidth);
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.world {
    width: 0;
    height: 0;
    position: absolute;
    width: 80vmin;
    height: 80vmin;

    display: flex;
    align-items: center;
    justify-content: center;
    container-type: size;
}

.world-bg {
    position: absolute;
    width: 90cqmin;
    height: 90cqmin;
    background-color: #fff;
    z-index: -2;
    border-radius: 50%;
    border: 0.5vmin solid rgb(196, 196, 219);
}

.planet {
    background-color: rgb(28, 28, 64);
    position: absolute;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.planet-score {
    color: white;
    font-size: 3vmin;
}

@each $fruit in (cherry, strawberry, grapes, dekopon, "orange", apple, pear, peach, pineapple, cantaloupe, watermelon) {
    .#{$fruit} {
        transform: scale(200%);
        background-image: url("../img/#{$fruit}-normal.svg");

        .danger &, &.outside {
            background-image: url("../img/#{$fruit}-danger.svg");
        }

        .blink &, &.blink {
            background-image: url("../img/#{$fruit}-blink.svg");
        }
    }
}

.fruit {
    background-size: contain;
    background-repeat: no-repeat;

    &.next {
        opacity: 0.5;
    }
}

@keyframes scale-animation {
    0%, 100% {
        transform: scale(200%);
    }
    50% {
        transform: scale(300%);
    }
}

.fruit-dead {
    animation: scale-animation 1s infinite;
}

.divider {
    position: absolute;
    z-index: -3;
    width: 300%;
}

.world-object {
    position: absolute;
    border-radius: 50%;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.game-over-popup {
    position: absolute;
    width: min(90vw, 70vh);
    height: 90vh;
    font-size: 3vmin;
    background-color: white;
    border: 0.5vmin solid rgb(196, 196, 219);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 3vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3vmin;
}

.button-row {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.score-table-container {
    width: 100%;
    flex: 1;
    overflow: scroll;
}

.score-table {
    width: 100%;
    text-align: center;
    font-weight: 200;
    color: #444;
}

.score-table tbody tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

button {
    font-size: 3vmin;
    padding: 0.5em 0.7em;

    border: 0.5vmin solid black;
    border-radius: 1vmin;
    color: white;
}

.game-over-button {
    margin: 3vmin 0.5vmin;
    border-color: rgb(187, 23, 56);
    background-color: rgb(233, 37, 77);
}

.select-players-ui {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select-players-heading {
    font-size: 5vmin;
    margin: 1vmin;
}

.select-players-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.select-players-button {
    margin: 1vmin;
    font-size: 7vmin;
    min-width: 100px;
    padding: 0.5em 1.5em;

    border-radius: 2vmin;

    @each $index, $color in (
        1: rgb(217, 21, 76),   // cherry
        2: rgb(248, 69, 69),   // strawberry
        3: rgb(142, 69, 133),  // grapes
        4: rgb(248, 170, 53),  // dekopon
        5: rgb(255, 123, 0),   // orange
        6: rgb(233, 19, 19),   // apple
        7: rgb(199, 216, 51),  // pear
        8: rgb(247, 186, 185), // peach
        9: rgb(227, 205, 57),  // pineapple
        10: rgb(139, 203, 99), // cantaloupe
        11: rgb(13, 115, 45)   // watermelon
    ) {
        &:nth-child(#{$index}) {
            background-color: #{$color};
            border-color: color.scale($color, $lightness: -30%);
        }
    }
}