html, body {
    margin: 0;
    overflow: hidden;

    background-color: white;
    color: black;
}

body {
    --scale: 1;
    --pageHeight: 100vh;
    --pageWidth: 100vw;
}

p {
    margin: 0;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--pageHeight);
    width: var(--pageWidth);
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.world {
    width: 0;
    height: 0;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.world-bg {
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: #f0f0f0;
    z-index: -1;
    border-radius: 50%;
}

.world-object {
    position: absolute;
    border-radius: 50%;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}
